* {
    color: #6600d2;
    background-color: #000000;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    text-align: center;
}

h1 {
    margin: 2em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: 1px solid #6600d2;
}

#question {
    font-size: 26px;
}